[submodule "faabric"]
	path = faabric
	url = https://github.com/auto-ndp/faabric
	branch = donald-ug
[submodule "clients/python"]
	path = clients/python
	url = https://github.com/auto-ndp/faasm-python.git
[submodule "clients/cpp"]
	path = clients/cpp
	url = https://github.com/auto-ndp/faasm-cpp.git
[submodule "third-party/wavm"]
	path = third-party/wavm
	url = https://github.com/auto-ndp/WAVM.git
